html,
body,
#app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: @theme-backgroung-color;
  font-family: @theme-font-family;
  font-size: @theme-content-font-size;
  color: @theme-text-color;
}

a {
  color: @theme-text-color;
  text-decoration: none;
}

a:hover {
  color: @theme-high-color;
}